:root {
    --primary-color: #0078ff;
    --secondary-color: #00e5ff;
    --text-color: #f8f8ff;
    --background-color: #000;
    --header-color: #121212df;
    --title-color: #008c4a;
    --border : #898ea4;

    /* CSS HEX */
    --space-cadet: #22223bff;
    --french-gray: #acadbcff;
    --cool-gray: #9b9eceff;
    --slate-blue: #6665ddff;
    --bittersweet-shimmer: #cc444bff;
}

* {
    background-size: cover;
    background-repeat: repeat;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    padding-bottom: 120px; /* Add space for fixed footer */
    background-color: var(--background-color);
    font-size:larger;
}

.fields {
    display: grid;
    place-items: center;
    color: var(--text-color);
    text-align: center;
    margin-top: 20px;
    input {
        background-color: var(--background-color);
        margin-bottom: 10px;
        color: var(--text-color);
    };
    button {
        color: var(--text-color);
        background-color: var(--background-color);
        &:hover {
            background-color: var(--primary-color);
        }
    }
    p {
        text-align: center;
    }
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers horizontally */
    max-width: 800px;
    margin: 0 auto; /* Centers the container itself */
    padding: 20px;
}